{:kotoba.app/id "cloud.itonami.isic-871", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiaalh5mjxxz3gdqe2d4xyysn26bqqo2bp5m7evoumhtdhlaur6oje", :kotoba.app/embed-url "ipfs://bafkreiaalh5mjxxz3gdqe2d4xyysn26bqqo2bp5m7evoumhtdhlaur6oje", :published {:archive "https://kotobase.net/ipfs/bafkreiaalh5mjxxz3gdqe2d4xyysn26bqqo2bp5m7evoumhtdhlaur6oje", :size 71897, :put-status 201, :get-status 200, :at "2026-08-15T13:41:55.332Z"}}
